body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #7f00ff;
  background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
  background: linear-gradient(to right, #e100ff, #7f00ff);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.chat-container {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}

#chatLog {
  height: 450px;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  background: #ffffff;
}

.chat-response {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: #6a0dad; /* Warna ungu elegan */
  color: #fff;
  clear: both;
  max-width: 80%;
  float: left;
}

.chat-ai {
  color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  background-color: #be5cff; /* Warna ungu muda elegan */
  clear: both;
  max-width: 80%;
  float: right;
}

input[type='text'] {
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  background: #fff;
  float: left;
}

.send-button {
  display: inline-block;
  padding: 17px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #ffffff;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('3106794.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;

  /* Animasi transisi */
  transition: transform 0.3s ease;
}

.send-button:active {
  transform: scale(0.9) rotate(17deg); /* Efek "ditekan" dan berputar */
}

@keyframes colorChangeAnimation {
  0% {
    background: #7f00ff;
    background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
    background: linear-gradient(to right, #e100ff, #7f00ff);
  }
  50% {
    background: #ddd;
  }
  100% {
    background: #7f00ff;
    background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
    background: linear-gradient(to right, #e100ff, #7f00ff);
  }
}

/* Responsive layout */

@media screen and (max-width: 768px) {
  .chat-container {
    padding: 10px;
  }

  #chatLog {
    height: 400px;
  }

  .chat-response,
  .chat-ai {
    max-width: 100%;
  }

  input[type='text'] {
    padding: 15px;
    margin-bottom: 10px;
  }
}
